body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress_bar_container
{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.outerbox
{
    width: 80%;
    height: 35px;
    border: 2px solid black;
    background: rgb(145, 142, 142);
    overflow: hidden;
}
.progress_bar
{
    width: 0%;
    height: 100%;
    background: rgb(226, 224, 224)
}